{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "modules": false,
      "loose": true,
      "targets": {
        "browsers": ["last 2 versions", "not dead"]
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", { "removeImport": true }]
      ]
    },
    "test": {
      "presets": [["@babel/preset-env"], "@babel/preset-react"]
    }
  }
}
